<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eric.timicaller31">
    <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DailyEventsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FavoriteRoomActivity" />
        <activity android:name=".Info.InfoActivity" />

        <receiver android:name=".DailyEvents.AlarmReceiver" />

        <activity android:name=".DailyEvents.RingActivity" />
        <activity android:name=".VisitRoomActivity" />
        <activity android:name=".BuildMyRoom.Detail_UEventActivity" />
        <activity android:name=".DailyEvents.Edit_MyAlarmActivity" />
        <activity android:name=".DailyEvents.Detail_MyAlarmActivity" />
        <activity android:name=".BuildMyRoom.URoomActivity" />
        <activity android:name=".URCRoomActivity" />
        <activity android:name=".ADRoomsActivity" />
        <activity android:name=".WeeklyPlanActivity" />
        <activity android:name=".BuildMyRoomActivity" />
        <activity android:name=".NewAlarmActivity" />
        <activity android:name=".NewTimerActivity" />
        <activity android:name=".NewRCActivity" />
        <activity android:name=".NewGXActivity" />
        <activity android:name=".QRSActivity"></activity>
        <activity android:name=".QRS_RCActivity"></activity>
    </application>

</manifest>