<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eric.timicaller31">
    <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".DailyEvents.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"

        >
        <activity android:name=".DailyEvents.DailyEventsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FavoriteRoom.FavoriteRoomActivity" />

        <receiver android:name=".DailyEvents.AlarmReceiver" />
        <service
            android:name=".DailyEvents.ExampleJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".DailyEvents.NotiService" />
        <activity android:name=".DailyEvents.RingActivity" />
        <activity android:name=".DailyEvents.VisitRoomActivity" />
        <activity android:name=".BuildMyRoom.Detail_UEventActivity" />
        <activity android:name=".DailyEvents.Edit_MyAlarmActivity" />
        <activity android:name=".DailyEvents.Detail_MyAlarmActivity" />
        <activity android:name=".BuildMyRoom.URoomActivity" />
        <activity android:name=".Receipt.URCRoomActivity" />
        <activity android:name=".Receipt.ReceiptActivity" />
        <activity android:name=".BuildMyRoom.BuildMyRoomActivity" />
        <activity android:name=".NewAlarmActivity" />
        <activity android:name=".DailyEvents.QRSActivity"></activity>
        <activity android:name=".Receipt.QRS_RCActivity"></activity>
    </application>

</manifest>